# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environment variables
.env
.env.*
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Flask specific
instance/
*.db
*.sqlite3
*.log

# VS Code and other IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# PyCharm
*.iml
